<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <meta name="description"
    content="Pasti Enak Resto is a restaurant that specialized serving Indonesian Cuisine for people around the world" />
  <meta name="theme-color" content="#f7f0e3" />
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
  </link>
  <title>Pasti Enak Resto</title>
</head>

<body>
  <a href="#main" class="skip-link">Skip to content</a>
  <nav id="navbar">
    <div class="container nav__bar">
      <button id="hamburger"><i class="fa-solid fa-bars"></i></button>
      <div class="nav__home">
        <a href="/">Pasti Enak</a>
      </div>
      <ul class="nav__menu">
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="#">FAVORITES</a>
        </li>
        <li>
          <a href="#">ABOUT</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav id="drawer">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#/favorite">Favorite</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
  <div class="hero" tabindex="0">
    <div class="hero__inner">
      <h1 class="hero__title">Pasti Enak Resto</h1>
      <p class="hero__tagline">We serve Indonesia Cuisine so you can enjoy Beautiful Indonesia.</p>
    </div>
  </div>
  <main id="main">
    <section class="content" tabindex="0">
      <div class="content__header">
        <h2>Our Best Offering</h2>
        <p>
          Our menu is always served with the freshest and premium ingredients originally from Indonesia.
        </p>
      </div>
      <div class="content__body" id="card_container"></div>
    </section>
  </main>

  <footer>
    <section class="container">
      <span>Copyright &copy; 2023 - Pasti Enak Resto</span>
    </section>
  </footer>
</body>

</html>